
name: test-cpp

on:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - '**/*.md'
      - '**/*.ipynb'
      - 'examples/**'
  pull_request:
    branches:
      - main
      - dev
    paths-ignore:
      - '**/*.md'
      - '**/*.ipynb'
      - 'examples/**'

jobs:
  test:
    name: C++ Tests on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y g++ libeigen3-dev libssl-dev nlohmann-json3-dev cmake
      - name: Build C++ test
        run: |
          mkdir build
          cd build
          cmake ..
          cd ..
          cmake --build build
      - name: Run C++ test
        run: |
          ./build/test_db